<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="kopo.poly.persistance.mapper.IChatMapper">
    <!-- 검색 조건문 -->
    <sql id="criteria">
        <trim prefix="where (" suffix=")" prefixOverrides="OR">
            <foreach collection="typeArr" item="type">
                <trim prefix="OR">
                    <choose>
                        <when test="type == 'T'.toString()">
                            title like concat('%',#{keyword},'%')
                        </when>
                        <when test="type == 'C'.toString()">
                            content like concat('%',#{keyword},'%')
                        </when>
                        <when test="type == 'W'.toString()">
                            writer like concat('%',#{keyword},'%' )
                        </when>
                    </choose>
                </trim>
            </foreach>
        </trim>

    </sql>


    <!-- 게시판 등록 -->
    <insert id="insertChat" parameterType="chatDTO">

        insert into comt(bno, comet_content, writer, regdate) values (#{bno}, #{comet_content}, #{writer}, sysdate())

    </insert>


    <update id="updateChat">
        update comt set comet_content = #{comet_content}, regdate = sysdate()
                    where comet_seq = #{comet_seq}
    </update>
    <update id="updatec">
        update comt set comet_seq = #{comet_seq}, bno = #{bno},  comet_content =#{comet_content}, writer = #{writer}, regdate = sysdate() where comet_seq = #{comet_seq}
    </update>


    <select id="getupdatechat" resultType="chatDTO">
    select * from comet
    where comet_seq = #{comet_seq}

    </select>

<!-- ㅅㅂㄴ-->


    <!-- 게시판 삭제 -->
    <delete id="deletechat">

        delete from comt where comet_seq = #{comet_seq}

    </delete>
    <select id="getcPage" resultType="int">

        select * from comt where bno = #{bno} order by comet_seq desc

    </select>
    <select id="getList" resultType="chatDTO">


        select  comet_seq, bno,  writer, regdate, comet_content
        from comt where bno = #{bno}
        order by comet_seq desc

    </select>
    <!-- 게시물 목록(페이징) -->
    <select id="getcListPaging" resultType="chatDTO">

        select   comet_seq, bno, writer, regdate, comet_content from comt
        where bno = #{bno}
       order by comet_seq desc
        limit #{skip},#{amount}



    </select>
    <select id="getcTotal" resultType="int">

        select count(*) from comt where bno =#{bno}

        <if test="keyword != null">
            <include refid="criteria"></include>
        </if>

    </select>


</mapper>