<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="kopo.poly.persistance.mapper.IrecoMapper">
    <!-- 검색 조건문 -->
    <sql id="criteria">
        <trim prefix="where (" suffix=")" prefixOverrides="OR">
            <foreach collection="typeArr" item="type">
                <trim prefix="OR">
                    <choose>
                        <when test="type == 'T'.toString()">
                            title like concat('%',#{keyword},'%')
                        </when>
                        <when test="type == 'C'.toString()">
                            content like concat('%',#{keyword},'%')
                        </when>
                        <when test="type == 'W'.toString()">
                            writer like concat('%',#{keyword},'%' )
                        </when>
                    </choose>
                </trim>
            </foreach>
        </trim>

    </sql>


    <!-- 게시판 등록 -->
    <insert id="recoin" parameterType="recoDTO">

        insert into reco(comet_seq, bno, recowriter, reco_content, recoregdate) values (#{comet_seq}, #{bno}, #{recowriter}, #{reco_content} ,sysdate())

    </insert>



    <update id="updatec">
        update comt set comet_seq = #{comet_seq}, bno = #{bno},  comet_content =#{comet_content}, writer = #{writer}, regdate = sysdate() where comet_seq = #{comet_seq}
    </update>


    <select id="getupdatechat" resultType="recoDTO">
    select * from reco
    where reco_seq = #{reco_seq}

    </select>

<!-- ㅅㅂㄴ-->


    <!-- 게시판 삭제 -->
    <delete id="deletechat">

        delete from comt where comet_seq = #{comet_seq}

    </delete>

    <select id="getrecoList" resultType="recoDTO">


        select  recomet_seq, comet_seq, bno,  recowriter, recoregdate, reco_content
        from reco where comet_seq = #{comet_seq}
        order by recomet_seq desc

    </select>
    <!-- 게시물 목록(페이징) -->
   <select id="getListPaging" resultType="chatDTO">

        select * from (
        comet_seq, bno, writer, regdate, comet_content
        from comt
        <if test="keyword != null">
            <include refid="criteria"></include>
        </if>
        ) as T1 order by comet_seq desc
        limit #{skip},#{amount}


    </select>
    <select id="getrecoTotal" resultType="int">

        select count(*) from reco

        <if test="keyword != null">
            <include refid="criteria"></include>
        </if>

    </select>
    <select id="getReplyList" resultType="recoDTO">
        select * from ( comet_seq, bno, writer, regdate, comet_content
        from comt

        ) as T1 order by comet_seq desc
        limit #{skip},#{amount}

    </select>

    <select id="getReplyTotal" resultType="int">

        select count(*)
        from reco
        where bno = #{bno}

    </select>
<select id="getrecoList2" resultType="recoDTO">

    select recomet_seq, comet_seq, bno,  recowriter, recoregdate, reco_content
    from reco where bno = #{bno}
    order by recomet_seq desc
</select>
    <delete id="deletereco">

        delete from reco where recomet_seq = #{recomet_seq}

    </delete>


</mapper>